.custom-shake {
  background: linear-gradient(to right, #f8a843, #fffc25);
  font-family: $main-font-family;
  color: $white-color;
  padding: 40px 24px;
  row-gap: 40px;

  @include page-grid;

  @include on-wide-desktop {
    padding: 40px;
  }
}

.block,
.content {
  display: flex;
  flex-direction: column;
}

.block {
  gap: 24px;
  grid-column: 1 / -1;
  height: 100%;

  @include on-tablet {
    justify-content: space-between;
  }

  @include on-desktop {
    grid-column: span 6;

    @include page-grid;
  }
}

.content {
  row-gap: 20px;
  grid-column: span 6;

  @include on-tablet {
    justify-content: space-between;
  }

  &--2 {
    @include on-desktop {
      order: 2;
    }
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.text {
  margin-top: 10px;
}

.button {
  padding: 8px 24px;
  width: fit-content;
  background: linear-gradient(to bottom, #D3E1F5, #B6CEEE);
  border-radius: 8px;
  color: rgb(8, 21, 40);
  font-weight: 600;
  transition: opacity 0.3s;

  &:hover {
    opacity: .5;
  }
}

.image {
  grid-column: span 6;
  align-self: start;
  --tw-shadow: 0 6px 12px -2px rgb(0 0 0 / 0.2), 0 3px 6px -3px rgb(0 0 0 / 0.2);
  --tw-shadow-colored: 0 6px 12px -2px var(--tw-shadow-color), 0 3px 6px -3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  @include on-tablet {
    height: 250px;
  }

  @include on-desktop {
    align-self: center;
    max-width: 100%;
  }
}