@font-face {
  font-family: "Noto Serif", system-ui;
  src: url('/fonts/NotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif", system-ui;
  src: url('/fonts/NotoSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif", system-ui;
  src: url('/public/fonts/NotoSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif", system-ui;
  src: url('/fonts/NotoSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script", cursive;
  src: url('/fonts/DancingScript-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

