@font-face {
<<<<<<< HEAD
  font-family: "Noto Serif";
=======
  font-family: "Noto Serif", system-ui;
>>>>>>> 235f7637a9bec0aea8d9510c43f431dd796876ba
  src: url('/fonts/NotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
<<<<<<< HEAD
  font-family: "Noto Serif";
=======
  font-family: "Noto Serif", system-ui;
>>>>>>> 235f7637a9bec0aea8d9510c43f431dd796876ba
  src: url('/fonts/NotoSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
<<<<<<< HEAD
  font-family: "Noto Serif";
=======
  font-family: "Noto Serif", system-ui;
>>>>>>> 235f7637a9bec0aea8d9510c43f431dd796876ba
  src: url('/public/fonts/NotoSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
<<<<<<< HEAD
  font-family: "Noto Serif";
=======
  font-family: "Noto Serif", system-ui;
>>>>>>> 235f7637a9bec0aea8d9510c43f431dd796876ba
  src: url('/fonts/NotoSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
<<<<<<< HEAD
  font-family: "Dancing Script";
  src: url('/public/fonts/DancingScript-Medium.ttf') format('truetype');
=======
  font-family: "Dancing Script", cursive;
  src: url('/fonts/DancingScript-Medium.ttf') format('truetype');
>>>>>>> 235f7637a9bec0aea8d9510c43f431dd796876ba
  font-weight: 500;
  font-style: normal;
}

