@import './fonts';

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
$padding-section-mobile: 60px;
$padding-section-tablet: 40px;
$padding-mobile: 16px;
$padding-tablet: 20px;
$main-font-family: "Noto Serif", system-ui;
$dancing-font: "Dancing Script", cursive;
$dark-color: #353c43;
$light-color: #f7f7f8;
$white-color: #ffffff;
$light-grey-color: #e1e4e7;
$button-bcg-color: #f9fafb;
$black-color: #000000;
$grey-color: #64748B;
$border-color: #e5e7eb;
$orange-color: #ef9a13;
$red-color: #ff0000;
$pink-color: #ee7da1;
$type-color: #465059;
$light-violet-color: #e9e2fe;
$light-pink-color: #fee2e2;
$light-blue-color: #edf6fc;
$blue-border-color: #a3d3ee;
$blue-color: #215aa8;
$light-orange-color: #fffbf5;
$orange-border-color: #ffd3af;
$orange-text-color: #ff9f46;
$border-pink-color: #f6bebd;
$text-red-color: #ed3833;
$light-green-color: #d5ecd7;
$green-border-color: #87c484;
$green-text-color: #367b32;