@import './fonts';

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
$padding-section-mobile: 60px;
$padding-section-tablet: 40px;
$padding-mobile: 16px;
$padding-tablet: 20px;
$main-font-family: "Noto Serif", system-ui;
$dancing-font: "Dancing Script", cursive;
$dark-color: #353c43;
$light-color: #f7f7f8;
$white-color: #ffffff;
$light-grey-color: #e1e4e7;
$button-bcg-color: #f9fafb;
$black-color: #000000;
$grey-color: #64748B;
$border-color: #e5e7eb;
$orange-color: #ef9a13;