@import './mixins';
@import './variables';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-family: $main-font-family;
  background-color: $black-color;
  color: $dark-color;
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $dark-color;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  transition: background-color 5000s ease-in-out 0s;
}


a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,
body {
  height: 100%;
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: inherit;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.section {
  padding: $padding-section-mobile 0;

  @include on-tablet {
    padding: $padding-section-tablet 0;
  }
}

.container {
  padding: 0 $padding-mobile;

  @include on-tablet {
    padding: 0 $padding-tablet;
  }
}

.error {
  font-size: 18px;
  line-height: 1.2;
}