.wrapper {
  background-color: $white-color;
  overflow: auto;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

