.wrapper {
  background-color: $white-color;

  @include on-tablet {
    padding: 80px 0 0;
  }
}

.box {
  display: flex;
  flex-direction: column;
}

.recommBox {
  padding: 0 0 50px;

  @include on-tablet {
    padding: 0 100px 50px 100px;
  }
}

.recommTitle,
.trendTitle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 32px;
}

.recommCocktail {
  position: relative;
  width: 100%;
  height: 450px;
  background-image: url('img/cocktailsPage/pinksquirrel.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 8px;

  @include on-tablet {
    height: 500px;
    background-position: center;
  }
}

.info {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 24px;
  gap: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(6px);
  color: $white-color;
  text-shadow: $pink-color 0.5px 1px 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.name {
  font-size: 36px;
  font-weight: 600;
}

.descr {
  text-align: center;
  line-height: 1.5;

  @include on-tablet {
    max-width: 400px;
    font-size: 18px;
  }

  @include on-desktop {
    max-width: 500px;
    font-size: 22px;
  }
}

.explore {
  background-color: $light-color;
  padding: 40px 16px;
  margin: 0 -16px;

  @include on-tablet {
    margin: 0 -20px;
    padding: 40px 32px;
  }
}

.trend {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(94.03deg, $light-violet-color 0.35%, $light-pink-color 99.65%);
  padding: 40px 32px;
  margin: 0 -16px;
  text-align: center;

  @include on-tablet {
    margin: 0 -20px;
  }
}

.trendTitle {
  margin-bottom: 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 30px;

  @include on-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  @include on-desktop {
    gap: 30px;
  }
}
