.card {
  min-width: 318px;
  display: flex;
  flex-direction: column;
  background-color: $light-color;
  border-radius: 12px;
  border: 1px solid $light-grey-color;
}

.img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 16px;
}